<nav class="navbar bg-body-tertiary">
    <form class="container-fluid justify-content-center">
        <a routerLink="/admin/livro">
            <button class="btn btn-outline-secondary me-2" type="button">Livros</button></a>
        <a routerLink="/admin/carro">
            <button class="btn btn-outline-secondary me-2" type="button">Carros</button></a>
        <a routerLink="/admin/pessoas">
            <button class="btn btn-outline-secondary" type="button">Pessoas</button></a>
    </form>
</nav>